<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask_Chat_App</title>
</head>
<body>

  <h3 id="initial" style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>

  <input type="text" class="username" id="chatname" placeholder="User Name"/>
  <input type="text" class="message" id="chatinput" placeholder="Messages"/>
  <input type="submit" onclick="return sendMessage();"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript">
    //var socket = io.connect('https://hidden-dusk-28735.herokuapp.com');
    //var socket = io.connect('https://hidden-dusk-28735.herokuapp.com/session');
    //var socket = io.connect(protocol+'//'+document.domain+':'+location.port);
    //var socket = io.connect(ws_scheme+location.host+'/session');
    socket = io();
    function sendMessage() {
        socket.emit('my_event',{
            'user_name':document.getElementById('chatname').value,
            'message':document.getElementById('chatinput').value})
    }

    socket.on( 'my_response', (msg)=>{
        document.getElementById('initial').style.display = "none";
        document.getElementsByClassName('message_holder')[0].innerHTML+='<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>';
    })

  </script>

</body>
</html>

