<html>
    <head></head>
    <body>
    <pre><div id="jsonholder"></div></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect(location.protocol+'//'+document.domain+':'+location.port+'/test');
        //var socket = io.connect(location.protocol+'//'+document.domain+'/test');
        var numbers_received = [];
        socket.on('newnumber',function(msg){
            console.log(msg.number);
            if (numbers_received.length >= 6){
                numbers_received.shift()
            }
            numbers_received.push(msg.number);
            document.getElementById('jsonholder').innerHTML = JSON.stringify({'data':numbers_received})
            //document.getElementById('jsonholder').appendChild(msg.number);
        });
    </script>


    </body>
</html>

